<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../stylesheets/bootstrap/shop-homepage.css" rel="stylesheet">

    <!-- Summer CSS -->
    <link href="../summernote/summernote.css" rel="stylesheet">





</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <%-Empresa%>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right t">

                    <% if (usuario) { %>
                        <li><a href=""><span class="glyphicon glyphicon-user"></span> Bienvenido(a) <%=usuario.nombreCliente%></a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>

                        <% }else{ %>

                            <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Iniciar sesión</a></li>
                            <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <% if (usuario) { %>
                <form method="POST" action="/detalle/" class="col-md-3 form-group">
                    <p class="lead">Shop Name</p>

                    <label for="modelo">Código del producto:</label>
                    <input id="modelo" name="modelo" type="text" class=" form-control" value="<%-Producto[0].codigo%>" readonly><br>
                    <label for="precio">Precio:</label>
                    <input id="precio" name="precio" type="number" class=" form-control" value="<%-Producto[0].precio%>" readonly><br>
                    <label for="cantidad">Cantidad: <%-Producto[0].stock%> disponible(s)</label>
                    <input id="cantidad" name="cantidad" type="number" class=" form-control" value="1" min="1" max="<%- Producto[0].stock%>"
                        required><br>
                    <input type="submit" class=" btn btn-primary col-md-12 col-sm-1" value="Comprar">

                </form>


                <% }else{ %>
                    <div class="col-md-3 form-group">
                        <a href="/login" class=" btn btn-primary col-md-12 col-sm-1">Inicia Sesión para comprar</a>
                    </div>

                    <% } %>



                        <div class="col-md-9">

                            <div class="thumbnail">
                                <img class="img-responsive" src="../images/modelos/<%- Producto[0].codigo%>.jpg" alt="">
                                <div class="caption-full">
                                    <h4 class="pull-right">$
                                        <%- Producto[0].precio%>
                                    </h4>
                                    <h4>
                                        <a href="#">
                                            <%- Producto[0].modelo%>
                                        </a>
                                    </h4>
                                    <input id="cajaPublicacion" type="hidden" value='<%-Producto[0].publicacion%>'>
                                    <div id="publicacion">

                                    </div>

                                </div>
                                <div class="ratings">
                                    <p class="pull-right">3 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span> 4.0 stars
                                    </p>
                                </div>
                            </div>

                            <div class="well">

                                <div class="text-right">
                                    <a class="btn btn-success">Leave a Review</a>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span> Anonymous
                                        <span class="pull-right">10 days ago</span>
                                        <p>This product was great in terms of quality. I would definitely buy another!</p>
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span> Anonymous
                                        <span class="pull-right">12 days ago</span>
                                        <p>I've alredy ordered another one!</p>
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span> Anonymous
                                        <span class="pull-right">15 days ago</span>
                                        <p>I've seen some better than this, but not at this price. I definitely recommend this
                                            item.
                                        </p>
                                    </div>
                                </div>

                            </div>

                        </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../javascripts/bootstrap/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../javascripts/bootstrap/bootstrap.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../javascripts/w3.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../summernote/summernote.js"></script>
    <script>
        window.addEventListener("load", function (event) {

            document.getElementById("publicacion").innerHTML = document.getElementById("cajaPublicacion").value;

        });
    </script>

</body>

</html>